body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
    min-width: 400px;
}

input {
    border: 1px solid #5f8341;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin-bottom: 4px;
}

button {
    background-color: #5f9341;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

ul {
    list-style: none; /* Remove bullets */
    padding-left: 0; /* Remove padding */
    margin-top: 20px; /* Remove margins */
}

li {
    margin: 10px 0;
}

li a {
    color: #5f8341;
}